<div id="wrapper">

    <app-sidebar></app-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
    <app-navbar></app-navbar>
    
    
    <div class="container">

        <form
        [formGroup]="miFormulario"
        (ngSubmit)="registrarServicio()">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre</label>
                <input type="text" formControlName="nombre"  class="form-control" id="inputEmail4" placeholder="Nombre">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Descripción</label>
                <input type="text" formControlName="descripcion"  class="form-control" id="inputPassword4" placeholder="Descripción">
              </div>

              <div class="form-group col-md-6">
                <label for="inputPassword4">Imagen</label>
                <input type="file" formControlName="imagen" (change)="uploadImage($event)" >
              </div>
            </div>
            
           
              
            
            <button type="submit" [disabled]="miFormulario.invalid" class="btn btn-primary">Enviar</button>
          </form>



    </div>



    </div>
    </div>
    </div> 
